a.btn.tg-button {
    background-color: #0088cc;
    /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a.btn.tg-button:hover {
    background-color: #005F8F;
  }