@charset "UTF-8";

$white: #eeeeee;
$white-pre: #f6f7f8;
$light-gray: #c0c4c8;
$gray: #616870;
$primary-color: #0a0a0a;
$secondary-color: #616870;
$black: #0a0a0a;
$link-color: #4169e1;
$link-hover-color: #d82e2e;

* {
  box-sizing: border-box;
}

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
  user-select: auto;
  font-size: 18px;
  line-height: 1.7;
  word-wrap: break-word;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
#title,
.frontlink,
.btn,
.btn-outline,
.lead,
.headernav,
.ad {
  font-family: 'Open Sans', sans-serif;
}

small {
  font-size: small;
}

.published-wrap, .head {
  margin: 1em;
  background-color: white;
  max-width: 832px;
}

.wrapper {
  position: relative;
}

.note {
  position: relative;
  font-size: 18px;
  line-height: 1.6em;
  min-height: 440px;
}

@media print {
  .headernav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .md-only {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .sm-only {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .lg-only {
    display: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
#title {
  clear: both;
  line-height: 1.15;
  margin: 1.7em 0 1em 0;
}

h1,
#title {
  font-size: 3em;
}

h1:first-of-type,
#title:first-of-type {
  margin-top: 0;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

h5,
h6 {
  font-size: 1.4em;
  text-transform: uppercase;
}



p.lead {
  font-size: 1.2em;
  color: $gray;
}

p,
ul,
ol,
blockquote,
pre,
table,
img,
.post-meta {
  margin-bottom: 1.7em;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

a:hover {
  color: $link-hover-color;
}

hr {
  display: block;
  width: 100%;
  height: 1em;
  border: 0;
  margin: 2em 0;
  z-index: 1;
}

hr:before {
  content: '...';
  display: block;
  width: 100%;
  letter-spacing: 2em;
  text-indent: 2em;
  z-index: 1;
  line-height: .5;
  text-align: center;
  transition: color .3s ease;
}

hr:hover:before {
  color: $secondary-color;
}

blockquote {
  font-style: italic;
  // border-left: 4px solid currentColor;
  margin-left: 1em;
  padding-left: 1.7em;
}

code {
  font-size: 85%;
  background: $white-pre;
  border-radius: 3px;
  overflow-x: auto;
  display: inline;
}

p code {
  display: inline;
  padding: 4px;
  color: $gray;
}

pre {
  padding: 1em;
  border-radius: 3px;
  background-color: $white-pre;

  code {
    color: $gray;
    background-color: $white-pre;
    display: block;
    padding: 1em;
  }

  code.hljs {
    background-color: $white-pre;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;

  tr:nth-child(2n) {
    background-color: $white;
  }

  th,
  td {
    border: 1px solid $light-gray;
    padding: 6px 13px;
  }

  th {
    font-weight: 600;
  }
}

@media only screen and (max-width: 480px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #title {
    margin: 1.19em 0 0.7em 0;
  }

  #title {
    margin-bottom: 0;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footerlist {
  display: block;
  list-style: none;
  clear: both;
  width: 100%;

  a {
    text-decoration: none;
  }

  .footerlink {
    float: left;
    margin: 5px;
  }

  .footerlink:first-child {
    margin-left: 5px;
  }

  .footerlink:last-child {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 576px) {
  .twocols {
    columns: 2;
    column-gap: 40px;
  }
}

.frontwrapper {
  display: table;
  margin: 10px 0;
}

.frontlink a {
  text-decoration: none;
}

a.btn,
input[type="submit"],
a.btn-outline {
  display: inline-block;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
}

a.btn,
input[type="submit"] {
  border: 2px solid $primary-color;
  background-color: $primary-color;
  color: $white;
}

a.btn:hover,
input[type="submit"]:hover {
  border-color: $secondary-color;
  background-color: $secondary-color;
  color: $white;
}

a.btn-outline {
  border: 2px solid $primary-color;
  color: $primary-color;
}

a.btn-outline:hover {
  border-color: $secondary-color;
  color: $secondary-color;
}

.card {
  height: 100%;
  width: 100%;
  border: 2px solid $primary-color;
  border-radius: 1px;
  padding: 5px;
  margin: 5px;
  transition: border-color .3s ease;
}

.card:hover {
  border-color: $secondary-color;
}

@import 'fa';


.nextpage {
  float: right;
  text-align: right;
}

@import 'big-typography';


@import 'ad';
@import 'tg-button';
@import "wine";